th {
    position: relative;
    white-space: nowrap;
    border: 1px solid #ccc;
    user-select: none;
  }
  
  .resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    cursor: col-resize;
    /* background: rgba(0, 0, 0, 0.1); */
    background: green;
  }
  